body{
    background-color: coral;
    overflow: hidden;
}

.player{
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: aqua;
    border: 3px solid aquamarine;
    border-radius: 32px;
    z-index:1;
}

.food{
    height: 10px;
    width: 10px;
    position: absolute;
    border: 3px solid;
    border-radius: 10px;
    z-index:0;
}